.sublogo{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #01813a;
  padding-top: 10px;
}
.title__main-header span{
  color: #01813a;
}
.popup_wrap_photo_item_photo{
  display: block !important;
  background-image: url(../img/photo-icon.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
}
.form input[type="file"]{
  border-radius: 0px;
  height: 25px;
}
.winners-table__wrap .table tbody td{
  word-break: normal !important;
}
.check-download .iframe-wrapper {
  height: 70vh;
  min-height: 250px;
}

.check-download .iframe-wrapper iframe {
  height: 100%;
  margin-top: 50px;
}
.check-download .popup__wrap{
  height: auto;
}
.check-download .iframe-wrapper{
  height: 100% !important;
}

table.table > tbody::-webkit-scrollbar { width: 10px; height: 3px;}
table.table > tbody::-webkit-scrollbar-track {  background-color: #999;}
table.table > tbody::-webkit-scrollbar-track-piece { background-color: #ffffff;}
table.table > tbody::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
table.table > tbody::-webkit-scrollbar-corner { background-color: #999;}}
table.table > tbody::-webkit-resizer { background-color: #666;}
.mob-logo{
  display: none;
}

@media screen and (min-width: 1500px) and (max-width: 2500px){
  .main-header-content {
    padding: 115px 0px 115px 0px;
    position: relative;
}
}

@media (max-width: 1024px){
  .table-wrap_checks .btn{
    margin-top: 30px;
  }
}
@media (max-height: 750px){
.check-download .popup__wrap {
    margin: 0 auto;
}
}
.main-header-content figure span{
  color: #01813a;
    font-size: 12px;
}
