@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Medium.eot');
    src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'),
        url('../fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Roman.eot');
    src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),
        url('../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Bold.eot');
    src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'),
        url('../fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none
}

body {
    font-family: 'HelveticaNeueCyr';
    font-weight: normal;
    font-style: normal;
    background-color: transparent !important;
    color: #01813a !important;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    box-sizing: content-box;
    height: 100%;
}

.container-tutorial__text p {
    /* margin-left: 20px; */
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #000 !important;
    line-height: 1.188;
    position: relative;
}

.container.uf-container.container--custom {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    box-sizing: content-box;
    padding: 0;
    scrollbar-width: none;
}

.uf-container-tutorial {
    /* display: none; */
    /* font-size: 0; */
}

.dropzone.dropzone--custom.dz-clickable {
    background-color: transparent;
    border: 2px dashed #01813a;
    text-align: center;
    border-radius: 0px;
}

.dz-default.dz-message {
    color: #01813a;
    font-size: 16px;
    line-height: 21px;
}

.dropzone .dz-preview.dz-image-preview {
    margin: 16px auto;
    background: transparent;
}

.dropzone .dz-preview .dz-image {
    width: 200px !important;
    height: auto !important;
    border-radius: 20px;
    margin: auto;
}

.dropzone .dz-preview .dz-remove {
    position: absolute;
    top: -30px;
    right: -30px;
    font-size: 0;
    background-color: #01813a;
    border-color: #fff;
    width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0;
    border-radius: 0px;
    z-index: 21;
    color: #fff;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    text-decoration: none;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);
    font-size: 0 !important;
}

.dropzone .dz-preview .dz-remove::before {
    content: '×';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 40px;
    line-height: 24px;
    /* font-weight: bold; */
    color: #FFF;
}

.dropzone .dz-preview .dz-remove:hover {
    opacity: .8;
    text-decoration: none;
}

.uf-button-wrapper.button-wrapper--custom {
    text-align: center
}

.uf-button-submit.button-submit--custom {
    font-family: HelveticaNeueCyr;
    font-weight: 500 !important;
    color: #fff;
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    background-image: #01813a;
    /* box-shadow: 6px 9px 26px rgba(254, 219, 49, 0.27); */
    border-radius: 50px;
    overflow: hidden;
    margin: auto;
    border: none;
    outline: none;
    z-index: 1;
    opacity: 1;
    transition: all .3s ease-in;
    background-color: #01813a;
}

.uf-button-submit.button-submit--custom:hover{
  background-color: #01813a !important;
}

.uf-button-submit.button-submit--custom::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    background-image: #01813a;
    transition: all .3s ease-in;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease-in;
}

.uf-button-submit.button-submit--custom:hover::before {
    opacity: 1;
}

.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom {
    margin-top: 20px;
}

.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom button {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: HelveticaNeueCyr;
    font-size: 19px;
    line-height: 24px;
    font-weight: 500;
    color: #01813a;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    border: none;
    outline: none;
    background: transparent;
}

.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom button:hover {
    text-decoration: underline;
}

.dropzone.dz-started .dz-message span {
    position: relative;
    display: inline-block;
    width: auto;
    font-family: HelveticaNeueCyr;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #01813a;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    border: none;
}

.dropzone.dz-started .dz-message span:hover {
    text-decoration: underline;
}

.uf-controls-wrapper {
    margin-top: 40px;
}

.uf-controls-wrapper .form-control {
    font-size: 14px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #4EB4ED;
    padding-bottom: 8px;
    padding-top: 4px;
    border-radius: 0;
    margin-bottom: 48px;
    box-shadow: none !important;
    outline: none;
}

.input-group.date {
    margin: 10px auto;
    width: 100%;
    max-width: 315px;
}

.input-group.date input {
    margin: 0;
    min-width: 240px;
}

.input-group.date .input-group-addon {
    position: absolute;
    width: 40px;
    height: 34px;
    background: no-repeat;
    z-index: 3;
    right: 0;
    border: none;
}

.input-group-addon .glyphicon {
    top: 4px;
}

.bootstrap-datetimepicker-widget {
    z-index: 9999;
    background: #fefefe;
    color: #000;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    width: 17em !important;
}
.dropzone .dz-message{
  margin: 0 !important;
}
